<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iSpesa Negozi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .font-1{
            color: whitesmoke;
        }

        a{
            text-decoration: none;
            display: inline-block;
        }

        ul.nav a:hover{
            color:goldenrod;
        }

        .font-2{
          text-shadow: 0px 0px 6px black;
        }

        .font-3{
          color:black;
        }

        .font-sconto{
          color:red;
          text-decoration: line-through;
          text-align: center;
        }

        .font-prezzo_nuovo{
          color: black;
          text-align: center;
        }

        .font-nome_prodotto{
          color: black;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* number of lines to show */
                  line-clamp: 2; 
          -webkit-box-orient: vertical;
          text-align: center;
        }

        .font-link{
            color:blue;
            word-wrap: break-word;
            display:inline-block;
        }

        .ritratti-ombra{
          box-shadow: 5px 5px 10px;
        }

        .card-title{
          text-overflow: ellipsis;
          display:-webkit-box;
          overflow: hidden;
          width:100%;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
    </style>
</head>
  <body>{{>header}}
    <nav class="navbar navbar-expand-lg navbar-light bg-dark-subtle">
        <div class="container-fluid">
            <div class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </div>
            </div>
        </div>
    </nav>
    <div class="p-1 bg-dark">
        <div class="px-2 font-1">
            Negozi Migliori:
        </div>
    </div>
    <div class="container p-0">
        <div class="row">
          <div class="col-2 p-3">
            <div class="card bg-secondary-subtle shadow">
              <img src="/img/logo/conad.png" class="card-img-top p-3" alt="Logo del negozio">
              <div class="card-body">
                <h5 class="card-title">
                  INSERIRE NOME DEL NEGOZIO AAAAAAAAAAAAA
                </h5>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="p-1 bg-dark">
        <div class="px-2 font-1">
            Catene migliori:
        </div>
    </div>
    <div class="container p-0">
        <div class="row">
            <div class="col-2 p-3">
                <div class="container bg-secondary-subtle rounded-2 shadow">
                    <div class="container p-3">
                        <img src="../img/logo/eurospin.webp" class="mw-100 mh-100 rounded-4" alt="...">
                    </div>
                    <div class="container font-3 pb-2">
                      <h3 class="font-nome_prodotto">Eurospin</h3>
                    </div>
                    <div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                      </svg>
                      18764
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>