<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iSpesa Admin Utenti</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .font-1{
            color: whitesmoke;
        }

        a{
            text-decoration: none;
            display: inline-block;
        }

        ul.nav a:hover{
            color:goldenrod;
        }

        .font-2{
          text-shadow: 0px 0px 6px black;
        }

        .font-3{
          color:black;
        }

        .font-sconto{
          color:red;
          text-decoration: line-through;
          text-align: center;
        }

        .font-prezzo_nuovo{
          color: black;
          text-align: center;
        }

        .font-nome_prodotto{
          color: black;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* number of lines to show */
                  line-clamp: 2; 
          -webkit-box-orient: vertical;
          text-align: center;
        }

        .font-link{
            color:blue;
            word-wrap: break-word;
            display:inline-block;
        }

        .ritratti-ombra{
          box-shadow: 5px 5px 10px;
        }

        .card-title{
          text-overflow: ellipsis;
          display:-webkit-box;
          overflow: hidden;
          width:100%;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
    </style>
</head>
  <body onload="caricaDati()">{{> (lookup . 'header')}}
    <nav class="navbar navbar-expand-lg navbar-light bg-dark-subtle">
        <div class="container-fluid">
            <div class="d-flex">
                <div class="input-group">
                    <input class="form-control me-2" type="search" id="cercaNome" onchange="caricaUtentiPerNome()" placeholder="Cerca per utente">
                </div>
            </div>
        </div>
    </nav>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">FotoProfilo</th>
                <th scope="col">2AF_attiva</th>
                <th scope="col">Email</th>
                <th scope="col">Telefono</th>
                <th scope="col">Password</th>
                <th scope="col">Elimina</th>
            </tr>
        </thead>
        <tbody id="tabellaUtenti">
        </tbody>
    </table>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        const url_sito = "http://localhost:8080";

        function caricaDati(){
            caricaUtenti();
        }

        function caricaUtenti(){
            document.getElementById("tabellaUtenti").innerHTML = "";
            var request = "/api/trovaTuttiUtenti";
            fetch(url_sito + request)
            .then(response => response.json())
            .then(data => {
                var i = 0;
                var k = 1;
                while(i < 20 && i < data.length){
                    var Username = data[i].Username;
                    var FotoProfilo = data[i].FotoProfilo;
                    var TFA_attiva = data[i].TFA_attiva;
                    var Email = data[i].Email;
                    var Telefono = data[i].Telefono;
                    var Password = data[i].Password;
                    var isAdmin = data[i].isAdmin;
                    if(!isAdmin){
                        let c1 = document.createElement("tr");
                        let c2 = document.createElement("th");
                        c2.scope = "row";
                        c2.innerHTML = k;
                        let c3 = document.createElement("td");
                        c3.innerHTML = Username;
                        let c4 = document.createElement("td");
                        c4.appendChild(createForm(Username, "FotoProfilo", FotoProfilo, "/api/modificaFotoProfilo?_method=PATCH"));
                        let c5 = document.createElement("td");
                        c5.innerHTML = TFA_attiva;
                        let c6 = document.createElement("td");
                        c6.appendChild(createForm(Username, "Email", Email, "/api/modificaEmail?_method=PATCH"));
                        let c7 = document.createElement("td");
                        c7.appendChild(createForm(Username, "Telefono", Telefono, "/api/modificaNumeroTelefono?_method=PATCH"));
                        let c8 = document.createElement("td");
                        c8.appendChild(createForm(Username, "Password", Password, "/api/modificaPassword?_method=PATCH"));
                        let c9 = document.createElement("td");
                        let c10 = document.createElement("form");
                        c10.action = "/api/eliminaUtente?_method=DELETE";
                        c10.method = "POST";
                        let c11 = document.createElement("button");
                        c11.classList.add("btn", "btn-outline-secondary");
                        c11.innerHTML = "Elimina";
                        let c12 = document.createElement("input");
                        c12.type = "hidden";
                        c12.name = "Username";
                        c12.value = Username;
                        c1.appendChild(c2);
                        c1.appendChild(c3);
                        c1.appendChild(c4);
                        c1.appendChild(c5);
                        c1.appendChild(c6);
                        c1.appendChild(c7);
                        c1.appendChild(c8);
                        c1.appendChild(c9);
                        c9.appendChild(c10);
                        c10.appendChild(c11);
                        c10.appendChild(c12);
                        document.getElementById("tabellaUtenti").appendChild(c1);
                        k++;
                    }
                    i++;
                }
            })
        }

        function createForm(Username, data_name, data, api){
            let t1 = document.createElement("form");
            t1.action = api;
            t1.method = "POST";
            let t2 = document.createElement("div");
            t2.classList.add("input-group");
            let t3 = document.createElement("input");
            t3.type = "text";
            t3.classList.add("form-control");
            t3.name = data_name;
            t3.value = data;
            let t4 = document.createElement("input");
            t4.type = "hidden";
            t4.name = "Username";
            t4.value = Username;
            let t5 = document.createElement("div");
            t5.classList.add("input-group-append");
            let t6 = document.createElement("button");
            t6.classList.add("btn", "btn-outline-secondary");
            t6.type = "submit";
            t6.innerHTML = "Modifica";
            t1.appendChild(t2);
            t2.appendChild(t3);
            t2.appendChild(t4);
            t2.appendChild(t5);
            t5.appendChild(t6);
            return t1;
        }

        function caricaUtentiPerNome(){
            document.getElementById("tabellaUtenti").innerHTML = "";
            var cercaNome = document.getElementById("cercaNome").value;
            var request = "/api/trovaTuttiUtenti";
            fetch(url_sito + request)
            .then(response => response.json())
            .then(data => {
                var i = 0;
                var k = 1;
                while(i < 20 && i < data.length){
                    var Username = data[i].Username;
                    var FotoProfilo = data[i].FotoProfilo;
                    var TFA_attiva = data[i].TFA_attiva;
                    var Email = data[i].Email;
                    var Telefono = data[i].Telefono;
                    var Password = data[i].Password;
                    var isAdmin = data[i].isAdmin;
                    if(!isAdmin && Username.toLowerCase().includes(cercaNome.toLowerCase())){
                        let c1 = document.createElement("tr");
                        let c2 = document.createElement("th");
                        c2.scope = "row";
                        c2.innerHTML = k;
                        let c3 = document.createElement("td");
                        c3.innerHTML = Username;
                        let c4 = document.createElement("td");
                        c4.appendChild(createForm(Username, "FotoProfilo", FotoProfilo, "/api/modificaFotoProfilo?_method=PATCH"));
                        let c5 = document.createElement("td");
                        c5.innerHTML = TFA_attiva;
                        let c6 = document.createElement("td");
                        c6.appendChild(createForm(Username, "Email", Email, "/api/modificaEmail?_method=PATCH"));
                        let c7 = document.createElement("td");
                        c7.appendChild(createForm(Username, "Telefono", Telefono, "/api/modificaNumeroTelefono?_method=PATCH"));
                        let c8 = document.createElement("td");
                        c8.appendChild(createForm(Username, "Password", Password, "/api/modificaPassword?_method=PATCH"));
                        let c9 = document.createElement("td");
                        let c10 = document.createElement("form");
                        c10.action = "/api/eliminaUtente?_method=DELETE";
                        c10.method = "POST";
                        let c11 = document.createElement("button");
                        c11.classList.add("btn", "btn-outline-secondary");
                        c11.innerHTML = "Elimina";
                        let c12 = document.createElement("input");
                        c12.type = "hidden";
                        c12.name = "Username";
                        c12.value = Username;
                        c1.appendChild(c2);
                        c1.appendChild(c3);
                        c1.appendChild(c4);
                        c1.appendChild(c5);
                        c1.appendChild(c6);
                        c1.appendChild(c7);
                        c1.appendChild(c8);
                        c1.appendChild(c9);
                        c9.appendChild(c10);
                        c10.appendChild(c11);
                        c10.appendChild(c12);
                        document.getElementById("tabellaUtenti").appendChild(c1);
                        k++;
                    }
                    i++;
                }
            })
        }

    </script>
  </body>
</html>