<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iSpesa</title>
    <link href="/css/slideshow.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .font-1{
            color: whitesmoke;
        }

        a{
            text-decoration: none;
            color:whitesmoke;
            display: inline-block;
        }

        ul.nav a:hover{
            color:goldenrod;
        }

        .carousel-item img{
          max-height:350px;
        }

        .font-2{
          text-shadow: 0px 0px 6px black;
        }

        .font-3{
          color:black;
        }

        .font-sconto{
          color:red;
          text-decoration: line-through;
          text-align: center;
        }

        .font-prezzo_nuovo{
          color: black;
          text-align: center;
        }

        .font-nome_prodotto{
          color: black;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* number of lines to show */
                  line-clamp: 2; 
          -webkit-box-orient: vertical;
          text-align: center;
        }

        .ritratti-ombra{
          box-shadow: 5px 5px 10px;
        }

        .card-title{
          text-overflow: ellipsis;
          display:-webkit-box;
          overflow: hidden;
          width:100%;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        .nav-link-categorie{
          height:100%;
        }
    </style>
</head>
  <body onload="caricaDati()">{{> (lookup . 'header')}}
    <!-- Slideshow container -->
    <div class="slideshow-container" id="slideshowProdotti" style="cursor:pointer">
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark-subtle">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav nav-tabs me-auto px-2" id="navbar-categorie">
            <li class="nav-item px-2" onclick="caricaProdotti();isActive('Tutti')" style="cursor: pointer">
              <a class="nav-link active nav-link-categorie" id="Tutti">Tutti</a>
            </li>
          </ul>
          <div class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" onsbumit="cercaProdotti()" aria-label="Search">
          </div>
        </div>
      </div>
    </nav>
    <div class="container p-0">
      <div class="row" id="listaProdotti">
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        const url_sito = "http://localhost:8080";

        function caricaDati(){
          caricaCategorie();
          caricaProdotti();
          caricaSlideshow();
        }

        function caricaSlideshow(){
          document.getElementById("listaProdotti").innerHTML = "";
          fetch(url_sito + "/api/trovaTuttiProdottiScontati")
          .then(response => response.json())
          .then(data => {
            var i = 0;
            while(i < 3 && i < data.length){
              var Nome = data[i].Nome;
              var Immagine = data[i].Immagine;
              var Categoria = data[i].Categoria;
              var IDProdotto = data[i].IDProdotto;
              var NegozioProvenienza = data[i].NegozioProvenienza;
              var Sconto = data[i].Sconto;
              var Prezzo = data[i].Prezzo;
              let c1 = document.createElement("div");
              c1.classList.add("mySlides", "fade");
              var funzione = "paginaProdotto('" + IDProdotto + "')"
              c1.setAttribute("onclick", funzione)
              let c2 = document.createElement("div");
              c2.classList.add("numbertext");
              c2.innerHTML = (i+1) + "/3";
              let c3 = document.createElement("img");
              c3.classList.add("d-block", "w-100");
              c3.style.maxHeight = "300px"
              c3.style.objectFit = "cover";
              c3.src = Immagine;
              let c4 = document.createElement("div");
              c4.classList.add("d-none", "d-md-block");
              let c5 = document.createElement("h2");
              c5.classList.add("text");
              c5.innerHTML = Nome.replaceAll("_", " ") + "<br>" + "Costo €" + ((Prezzo) - (Prezzo/100*Sconto)) + "/kg";;
              let c6 = document.createElement("h5");
              
              c1.appendChild(c2);
              c1.appendChild(c3);
              c1.appendChild(c4);
              c4.appendChild(c5);
              c4.appendChild(c6);
              document.getElementById("slideshowProdotti").appendChild(c1);
              i++;
            }
            let c7 = document.createElement("a");
            c7.classList.add("prev");
            c7.setAttribute("onclick", "plusSlides(-1)");
            c7.innerHTML = "<";
            let c8 = document.createElement("a");
            c8.classList.add("next");
            c8.setAttribute("onclick", "plusSlides(1)");
            c8.innerHTML = ">";
            document.getElementById("slideshowProdotti").appendChild(c7);
            document.getElementById("slideshowProdotti").appendChild(c8);
            showSlides(-1);
          })
        }

        function caricaCategorie(){
          fetch(url_sito + "/api/categorie")
            .then(response => response.json())
            .then(data => {
              data.forEach(row => {
                categoria = row.Categoria;
                var funzione = "mostraCategoria('" + categoria + "')";
                var funzione2 = "isActive('" + categoria + "')";
                var funzioni = funzione + ";" + funzione2;
                var li = document.createElement("li");
                let a = document.createElement("a");
                li.classList.add("nav-item");
                li.classList.add("px-2");
                li.setAttribute('style', "cursor: pointer");
                a.classList.add("nav-link");
                a.classList.add("nav-link-categorie");
                a.id = categoria;
                li.setAttribute('onclick', funzioni);
                a.innerHTML = categoria.replaceAll("_", " ");
                li.appendChild(a);
                document.getElementById("navbar-categorie").appendChild(li);
              })
            })
        }

        function caricaProdotti(){
          var prodotti_scontati_trovati = [];
          document.getElementById("listaProdotti").innerHTML = "";
          fetch(url_sito + "/api/trovaTuttiProdottiScontati")
          .then(response => response.json())
          .then(data => {
            var i = 0;
            while(i < 18 && i < data.length){
              var Nome = data[i].Nome;
              var Immagine = data[i].Immagine;
              var Categoria = data[i].Categoria;
              var IDProdotto = data[i].IDProdotto;
              var NegozioProvenienza = data[i].NegozioProvenienza;
              var Sconto = data[i].Sconto;
              var Prezzo = data[i].Prezzo;
              prodotti_scontati_trovati.push(IDProdotto);
              let c1 = document.createElement("div");
              c1.classList.add("col-2", "p-3");
              var funzione_pagina_prodotto = "paginaProdotto('" + IDProdotto + "')";
              c1.setAttribute("onclick", funzione_pagina_prodotto);
              c1.style.cursor = "pointer";
              let c2 = document.createElement("div");
              c2.classList.add("card", "bg-secondary-subtle", "shadow");
              let c3 = document.createElement("div");
              c3.classList.add("container", "p-3");
              let c4 = document.createElement("img");
              c4.classList.add("card-img-top", "mw-100", "mh-100", "rounded-4");
              c4.src = Immagine;
              let c5 = document.createElement("div");
              c5.classList.add("card-body", "pt-0", "pb-1");
              let c6 = document.createElement("h3");
              c6.classList.add("font-nome_prodotto");
              c6.innerHTML = Nome.replaceAll("_", " ");
              let c7 = document.createElement("p");
              c7.classList.add("font-sconto", "mb-0");
              c7.innerHTML = "€" + Prezzo + "/kg";
              let c8 = document.createElement("h3");
              c8.classList.add("font-prezzo_nuovo", "mb-1");
              var Prezzo_scontato = Prezzo - (Prezzo/100*Sconto);
              c8.innerHTML = "€" + Prezzo_scontato + "/kg";
              i++;
              c1.appendChild(c2);
              c2.appendChild(c3);
              c3.appendChild(c4);
              c2.appendChild(c5);
              c5.appendChild(c6);
              c5.appendChild(c7);
              c5.appendChild(c8);
              document.getElementById("listaProdotti").appendChild(c1);
            }
            if(i < 18){
              fetch(url_sito + "/api/trovaTuttiProdotti")
              .then(response => response.json())
              .then(data => {
                while(i < 18 && i < data.length){
                  var Nome = data[i].Nome;
                  var Immagine = data[i].Immagine;
                  var Categoria = data[i].Categoria;
                  var IDProdotto = data[i].IDProdotto;
                  var NegozioProvenienza = data[i].NegozioProvenienza;
                  var Sconto = data[i].Sconto;
                  var Prezzo = data[i].Prezzo;
                  prodotti_scontati_trovati.push(IDProdotto);
                  let c1 = document.createElement("div");
                  c1.classList.add("col-2", "p-3");
                  var funzione_pagina_prodotto = "paginaProdotto('" + IDProdotto + "')";
                  c1.setAttribute("onclick", funzione_pagina_prodotto);
                  c1.style.cursor = "pointer";
                  let c2 = document.createElement("div");
                  c2.classList.add("card", "bg-secondary-subtle", "shadow");
                  let c3 = document.createElement("div");
                  c3.classList.add("container", "p-3");
                  let c4 = document.createElement("img");
                  c4.classList.add("card-img-top", "mw-100", "mh-100", "rounded-4");
                  c4.src = Immagine;
                  let c5 = document.createElement("div");
                  c5.classList.add("card-body", "pt-0", "pb-1");
                  let c6 = document.createElement("h3");
                  c6.classList.add("font-nome_prodotto");
                  c6.innerHTML = Nome.replaceAll("_", " ");
                  let c7 = document.createElement("p");
                  c7.classList.add("font-sconto", "mb-0");
                  c7.innerHTML = " ";
                  let c8 = document.createElement("h3");
                  c8.classList.add("font-prezzo_nuovo", "mb-1");
                  c8.innerHTML = "€" + Prezzo + "/kg";
                  i++;
                  c1.appendChild(c2);
                  c2.appendChild(c3);
                  c3.appendChild(c4);
                  c2.appendChild(c5);
                  c5.appendChild(c6);
                  c5.appendChild(c7);
                  c5.appendChild(c8);
                  document.getElementById("listaProdotti").appendChild(c1);
                }
              })
            }
          })
        }

        function mostraCategoria(categoria){
          const request_scontati = "/api/trovaTuttiProdottiScontatiFiltroCategoria?Categoria=" + categoria;
          const request = "/api/trovaProdottiFiltroCategoria?Categoria=" + categoria;
          
          document.getElementById("listaProdotti").innerHTML = "";
          var prodotti_scontati_trovati = [];
          fetch((url_sito + request_scontati))
          .then(response => response.json())
          .then(data => {
            var i = 0;
            while(i < 18 && i < data.length){
              var Nome = data[i].Nome;
              var Immagine = data[i].Immagine;
              var Categoria = data[i].Categoria;
              var IDProdotto = data[i].IDProdotto;
              var NegozioProvenienza = data[i].NegozioProvenienza;
              var Sconto = data[i].Sconto;
              var Prezzo = data[i].Prezzo;
              prodotti_scontati_trovati.push(IDProdotto);
              let c1 = document.createElement("div");
              c1.classList.add("col-2", "p-3");
              var funzione_pagina_prodotto = "paginaProdotto('" + IDProdotto + "')";
              c1.setAttribute("onclick", funzione_pagina_prodotto);
              c1.style.cursor = "pointer";
              let c2 = document.createElement("div");
              c2.classList.add("card", "bg-secondary-subtle", "shadow");
              let c3 = document.createElement("div");
              c3.classList.add("container", "p-3");
              let c4 = document.createElement("img");
              c4.classList.add("card-img-top", "mw-100", "mh-100", "rounded-4");
              c4.src = Immagine;
              let c5 = document.createElement("div");
              c5.classList.add("card-body", "pt-0", "pb-1");
              let c6 = document.createElement("h3");
              c6.classList.add("font-nome_prodotto");
              c6.innerHTML = Nome.replaceAll("_", " ");
              let c7 = document.createElement("p");
              c7.classList.add("font-sconto", "mb-0");
              c7.innerHTML = "€" + Prezzo + "/kg";
              let c8 = document.createElement("h3");
              c8.classList.add("font-prezzo_nuovo", "mb-1");
              var Prezzo_scontato = Prezzo - (Prezzo/100*Sconto);
              c8.innerHTML = "€" + Prezzo_scontato + "/kg";
              i++;
              c1.appendChild(c2);
              c2.appendChild(c3);
              c3.appendChild(c4);
              c2.appendChild(c5);
              c5.appendChild(c6);
              c5.appendChild(c7);
              c5.appendChild(c8);
              document.getElementById("listaProdotti").appendChild(c1);
            }
            if(i < 18){
              fetch(url_sito + request)
              .then(response => response.json())
              .then(data => {
                while(i < 18 && i < data.length && !prodotti_scontati_trovati.includes(data[i].IDProdotto)){
                  var Nome = data[i].Nome;
                  var Immagine = data[i].Immagine;
                  var Categoria = data[i].Categoria;
                  var IDProdotto = data[i].IDProdotto;
                  var NegozioProvenienza = data[i].NegozioProvenienza;
                  var Prezzo = data[i].Prezzo;
                  prodotti_scontati_trovati.push(IDProdotto);
                  let c1 = document.createElement("div");
                  c1.classList.add("col-2", "p-3");
                  var funzione_pagina_prodotto = "paginaProdotto('" + IDProdotto + "')";
                  c1.setAttribute("onclick", funzione_pagina_prodotto);
                  c1.style.cursor = "pointer";
                  let c2 = document.createElement("div");
                  c2.classList.add("card", "bg-secondary-subtle", "shadow");
                  let c3 = document.createElement("div");
                  c3.classList.add("container", "p-3");
                  let c4 = document.createElement("img");
                  c4.classList.add("card-img-top", "mw-100", "mh-100", "rounded-4");
                  c4.src = Immagine;
                  let c5 = document.createElement("div");
                  c5.classList.add("card-body", "pt-0", "pb-1");
                  let c6 = document.createElement("h3");
                  c6.classList.add("font-nome_prodotto");
                  c6.innerHTML = Nome.replaceAll("_", " ");
                  let c7 = document.createElement("p");
                  c7.classList.add("font-sconto", "mb-0");
                  c7.innerHTML = " ";
                  let c8 = document.createElement("h3");
                  c8.classList.add("font-prezzo_nuovo", "mb-1");
                  c8.innerHTML = "€" + Prezzo + "/kg";
                  i++;
                  c1.appendChild(c2);
                  c2.appendChild(c3);
                  c3.appendChild(c4);
                  c2.appendChild(c5);
                  c5.appendChild(c6);
                  c5.appendChild(c7);
                  c5.appendChild(c8);
                  document.getElementById("listaProdotti").appendChild(c1);
                }
              })
            }
          })
        }

        function cercaProdotti(){

        }

        function isActive(categoria){
          let nav_categorie = document.getElementsByClassName("nav-link-categorie");
          for(var i = 0; i < nav_categorie.length; i++){
            if(nav_categorie[i].id != categoria){
              nav_categorie[i].classList.remove("active");
            }
            else{
              nav_categorie[i].classList.add("active");
            }
          }
        }

        // Next/previous controls
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }

        let slideIndex = -1;

        function showSlides(n) {
          let i;
          let slides = document.getElementsByClassName("mySlides");
          let dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
        }

        function paginaProdotto(IDProdotto){
          const request = "/prodotto?IDProdotto=" + IDProdotto;
          window.location.replace(request);
        }
    </script>
  </body>
</html>