<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .font-1{
            color: whitesmoke;
        }

        a{
            text-decoration: none;
            display: inline-block;
        }

        ul.nav a:hover{
            color:goldenrod;
        }

        .carousel-item img{
          max-height:350px;
        }

        .font-2{
          text-shadow: 0px 0px 6px black;
        }

        .font-3{
          color:black;
        }

        .font-allineato{
            text-align: center;
        }

        .font-sconto{
          color:red;
          text-decoration: line-through;
          text-align: center;
        }

        .font-prezzo_nuovo{
          color: black;
          text-align: center;
        }

        .font-nome_prodotto{
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* number of lines to show */
                  line-clamp: 2; 
          -webkit-box-orient: vertical;
          text-align: center;
        }

        .ritratti-ombra{
          box-shadow: 5px 5px 10px;
        }

        .review-list ul li .left span {
            width: 32px;
            height: 32px;
            display: inline-block;
        }
        .review-list ul li .left {
            flex: none;
            max-width: none;
            margin: 0 10px 0 0;
        }
        .review-list ul li .left span img {
            border-radius: 50%;
        }
        .review-list ul li .right h4 {
            font-size: 16px;
            margin: 0;
            display: flex;
        }
        .review-list ul li .right h4 .gig-rating {
            display: flex;
            align-items: center;
            margin-left: 10px;
            color: #ffbf00;
        }
        .review-list ul li .right h4 .gig-rating svg {
            margin: 0 4px 0 0px;
        }
        .country .country-flag {
            width: 16px;
            height: 16px;
            vertical-align: text-bottom;
            margin: 0 7px 0 0px;
            border: 1px solid #fff;
            border-radius: 50px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        }
        .country .country-name {
            color: #95979d;
            font-size: 13px;
            font-weight: 600;
        }
        .review-list ul li {
            border-bottom: 1px solid #dadbdd;
            padding: 0 0 30px;
            margin: 0 0 30px;
        }
        .review-list ul li .right {
            flex: auto;
        }
        .review-list ul li .review-description {
            margin: 20px 0 0;
        }
        .review-list ul li .review-description p {
            font-size: 14px;
            margin: 0;
        }
        .review-list ul li .publish {
            font-size: 13px;
            color: #95979d;
        }

        .review-section h4 {
            font-size: 20px;
            color: #222325;
            font-weight: 700;
        }
        .review-section .stars-counters tr .stars-filter.fit-button {
            padding: 6px;
            border: none;
            color: #4a73e8;
            text-align: left;
        }
        .review-section .fit-progressbar-bar .fit-progressbar-background {
            position: relative;
            height: 8px;
            background: #efeff0;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            background-color: #ffffff;
            ;
            border-radius: 999px;
        }
        .review-section .stars-counters tr .star-progress-bar .progress-fill {
            background-color: #ffb33e;
        }
        .review-section .fit-progressbar-bar .progress-fill {
            background: #2cdd9b;
            background-color: rgb(29, 191, 115);
            height: 100%;
            position: absolute;
            left: 0;
            z-index: 1;
            border-radius: 999px;
        }
        .review-section .fit-progressbar-bar {
            display: flex;
            align-items: center;
        }
        .review-section .stars-counters td {
            white-space: nowrap;
        }
        .review-section .stars-counters tr .progress-bar-container {
            width: 100%;
            padding: 0 10px 0 6px;
            margin: auto;
        }
        .ranking h6 {
            font-weight: 600;
            padding-bottom: 16px;
        }
        .ranking li {
            display: flex;
            justify-content: space-between;
            color: #95979d;
            padding-bottom: 8px;
        }
        .review-section .stars-counters td.star-num {
            color: #4a73e8;
        }
        .ranking li>span {
            color: #62646a;
            white-space: nowrap;
            margin-left: 12px;
        }
        .review-section {
            border-bottom: 1px solid #dadbdd;
            padding-bottom: 24px;
            margin-bottom: 34px;
            padding-top: 64px;
        }
        .review-section select, .review-section .select2-container {
            width: 188px !important;
            border-radius: 3px;
        }
        ul, ul li {
            list-style: none;
            margin: 0px;
        }
        .helpful-thumbs, .helpful-thumb {
            display: flex;
            align-items: center;
            font-weight: 700;
        }
    </style>
</head>
  <body onload="caricaDati()">{{> (lookup . 'header')}}
    <div class="row p-2" style="margin-right: 0; margin-left: 0">
        <div class="col-4">
            <div class="container bg-secondary-subtle rounded-2">
                <div class="container p-4">
                    <img style="width:100%" id="Logo" src="">
                </div>
            </div>
            <br>
            {{> (lookup . 'formRecensione')}}
        </div>
        <div class="class col-7 bg-secondary-subtle rounded-2">
            <div class="container p-1">
                <div class="container p-2">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <h1 id="Nome"></h1>
                        </div>
                        <div class="col" style="position:absolute; cursor: pointer" id="Stella_container" onclick="aggiungiPreferiti()">
                            <img style="width:80px" id="Stella" hidden src="/img/sito/stella.webp" id="Logo">
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row justify-content-around">
                    <div class="review-list">
                        <ul id="listaRecensioni">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        const url_sito = "http://localhost:8080";
        var IDNegozio;
        var Username;
        var preferito = false;

        function caricaDati(){
            caricaDatiNegozio();
            caricaRecensioni();
        }

        function caricaDatiNegozio(){
            var GET_query = window.location.search.substring(1);
            var pair = GET_query.split("=");
            IDNegozio = pair[1];

            var request = "/api/trovaNegozioFiltroID?IDNegozio=" + IDNegozio;

            fetch(url_sito + request)
            .then(response => response.json())
            .then(data => {
                var Nome = data[0].Nome;
                var Logo = data[0].Logo;
                var IDNegozio = data[0].IDNegozio;
                var Prezzo = data[0].Prezzo;
                document.getElementById("Nome").innerHTML = Nome.replaceAll("_", " ");
                document.getElementById("Logo").src = Logo;
                caricaDatiUtente();
            })
        }

        function caricaRecensioni(){
            if(IDNegozio != null){
                var request = "/api/trovaRecensioniFiltroNegozio?IDNegozio=" + IDNegozio;

                fetch(url_sito + request)
                .then(response => response.json())
                .then(data => {
                    var i = 0;
                    while(i < 5 && i < data.length){
                        var Titolo = data[i].Titolo;
                        var Testo = data[i].Testo;
                        var N_stelle = data[i].N_stelle;
                        var Data_creazione = data[i].Data_creazione;
                        var Nome = data[i].Nome;
                        var FotoProfilo = data[i].FotoProfilo;
                        let c1 = document.createElement("li");
                        let c2 = document.createElement("div");
                        c2.classList.add("d-flex");
                        let c3 = document.createElement("div");
                        c3.classList.add("left");
                        let c4 = document.createElement("span");
                        let c5 = document.createElement("img");
                        c5.src = FotoProfilo;
                        c5.classList.add("profile-pict-img", "img-fluid");
                        let c6 = document.createElement("div");
                        c6.classList.add("right");
                        let c7 = document.createElement("h4");
                        c7.innerHTML = Nome;
                        let c8 = document.createElement("span");
                        c8.classList.add("gig-rating", "text-body-2");
                        let c9 = document.createElement("img");
                        c9.src = "/img/sito/stella_gialla.png";
                        c9.style.width = "15px";
                        c9.style.height = "15px";
                        let c10 = document.createElement("div");
                        c10.classList.add("review-description");
                        let c11 = document.createElement("h2");
                        c11.innerHTML = Titolo;
                        let c12 = document.createElement("p");
                        c12.innerHTML = Testo;
                        let c13 = document.createElement("span");
                        c13.classList.add("publish", "py-3", "d-inline-block", "w-100");
                        c13.innerHTML = "Pubblicato il " + Data_creazione.substr(0, 10);
                        c1.appendChild(c2);
                        c2.appendChild(c3);
                        c3.appendChild(c4);
                        c4.appendChild(c5);
                        c2.appendChild(c6);
                        c6.appendChild(c7);
                        c7.appendChild(c8);
                        c8.appendChild(c9);
                        c6.appendChild(c10);
                        c10.appendChild(c11);
                        c10.appendChild(c12);
                        c6.appendChild(c13);
                        c8.innerHTML = c8.innerHTML + N_stelle;
                        document.getElementById("listaRecensioni").appendChild(c1);
                        i++;
                    }
                })
            }
        }

        function caricaDatiUtente(){
            Username = "{{ user }}";
            if(Username != null && Username != ""){
                var request = "/api/checkNegozioPreferito?IDNegozio=" + IDNegozio;
                var Stella = document.getElementById("Stella");
                Stella.hidden = false;
                fetch(url_sito + request)
                .then(response => response.json())
                .then(data => {
                    if(data.length > 0){
                        Stella.src = "/img/sito/stella_gialla.png";
                        preferito = true;
                    }
                    else{
                        Stella.src = "/img/sito/stella.webp";
                        preferito = false;
                    }
                })
            }
        }

        function aggiungiPreferiti(){
            if(Username != null && Username != ""){
                if(preferito){
                    var request = "/api/rimuoviNegozioDaiPreferiti?IDNegozio=" + IDNegozio;
                    fetch(url_sito + request)
                    .then(response => response.json())
                    document.getElementById("Stella").src = "/img/sito/stella.webp";
                    preferito = false;
                }
                else{
                    var request = "/api/aggiungiNegozioAiPreferiti?IDNegozio=" + IDNegozio;
                    fetch(url_sito + request)
                    .then(response => response.json())
                    document.getElementById("Stella").src = "/img/sito/stella_gialla.png";
                    preferito = true;
                }
            }
        }

        function inviaRecensione(){
            document.getElementById("IDNegozio").value = IDNegozio;
            console.log(document.getElementById("IDNegozio").value);
            //document.getElementById("inviaRecensione").submit();
        }

        
    </script>
  </body>
</html>