<hr>
<h4>Vista Amministratore</h4>
<a href="/admin_utenti">
    <button class="btn btn-primary mt-2">Utenti</button>
</a>
<a href="/admin_recensioni">
    <button class="btn btn-primary mt-2">Recensioni</button>
</a>