<header class="p-3 bg-dark">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 "><img class="bi me-2" style="max-width: 40px;" src="/img/sito/logo.png">
          </a>
          <ul class="nav col-12 col-lg-auto me-lg-auto justify-content-center mb-2 mb-md-0 mr-auto">
              <li>
                  <a href="/sconti" class="nav-link px-2 font-1">Sconti</a>
              </li>
              <li>
                  <a href="/volantini" class="nav-link px-2 font-1">Volantini</a>
              </li>
              <li>
                  <a href="/negozi" class="nav-link px-2 font-1">Negozi</a>
              </li>
              <li>
                  <a href="/preferiti" class="nav-link px-2 font-1">Preferiti</a>
              </li>
          </ul>
          <ul class="nav col-12 col-lg-auto justify-content-center mb-2 mb-md-0">
              <li>
                  <a href="/logout" class="nav-link px-4 font-1">Logout</a>
              </li>
              <li>
                  <div class="dropdown">
                      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="navbarNavDarkDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Lingua
                      </a>
                    
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Italiano</a></li>
                        <li><a class="dropdown-item" href="#">English</a></li>
                      </ul>
                    </div>
              </li>
          </ul>
      </div>
    </header>